    <div class="Homepage">
      <div id="logo">
        <div class="img">
          <img src="/logosmall.png" alt="trust logo" id="logoimg" />
        </div>
        <div class="trustname">
          <!-- <spam id="h2"><b>KNC TRUST</b></spam>
          <spam id="h5">BHARUCH</spam> -->
          <img src="/LOGONAME.png" alt="trust NAME" id="logoname" />
        </div>
      </div>

      <div id="nav">
        <nav>
          <form method="get" action="/donor" id="formhome">
            <button type="submit" id="btnhome">Homepage</button>
          </form>
          <form method="get" action="/donor/username" id="formhome">
            <button type="submit" id="btnhome">loging</button>
          </form>
          <form method="get" action="/donor/total" id="formhome">
            <button type="submit" id="btnhome">total list</button>
          </form>
          <form method="get" action="./delet.ejs" id="formhome">
            <button type="submit" id="btnhome">delet</button>
          </form>
          <form method="get" action="/donor/us" id="formhome">
            <button type="submit" id="btnhome">Search</button>
          </form>
        </nav>
      </div>
    </div>