<div class="Homepage">
      <div id="logo">
        <div class="img">
          <img src="/logosmall.png" alt="trust logo" id="logoimg" />
        </div>
        <div class="trustname">
          <!-- <spam id="h2"><b>KNC TRUST</b></spam>
          <spam id="h5">BHARUCH</spam> -->
          <img src="/LOGONAME.png" alt="trust NAME" id="logoname" />
        </div>
      </div>

      <div id="nav">
        <nav>
          <form method="get" action="/trust" id="formhome">
            <button type="submit" id="btnhome">Homepage</button>
          </form>
          
        </nav>
      </div>
    </div>