<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOGING</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include("includes/homepagenav.ejs") %>

    <div class="editpassword">
      <h3>Please Insert The Username Or Password</h3>
      <h5>editpassword.ejs -- <%=don._id%></h5>

      <div class="editform">
        <form method="post" action="/trust/userportal/<%=don._id%>/update/?_method=put"  class="updateform"> 
          <div id="oldpass"><label for="oldpassWord">Old Password :</label
            ><input name="oldpassWord" type="password" class="inputloging" />
            <p id="p1">old passWord is wrong</p>
          </div>
          <label for="newpassWord">New Password :</label
          ><input name="newpassWord" type="password" class="inputloging" />
          <label for="renewpassWord">Re enter Password :</label
            ><input name="renewpassWord" type="password" class="inputloging" />
          <button class="=btn" type="submit">Update</button>          
        </form>
       

       
      </div>
    </div>
  </body>
</html>
