<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>knc trust bharuch List</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include("includes/homepagenav.ejs") %>
    <div class="slider-container">
      <div class="slider">
        <div class="slide"><img src="/photo/DSC_0215.JPG" alt="Slide 1"></div>
        <div class="slide"><img src="/photo/DSC_0233.JPG"" alt="Slide 2"></div>
        <div class="slide"><img src="/photo/DSC_0234.JPG"" alt="Slide 3"></div>
      </div>
    </div>
    <div class="UserRegistration">
    <h5>Instruction</h5>
    <p>New User Please Click Hear and Registration First</p> <form method="get" action="/trust/user/Registration/" id="formhome">
      <button type="submit" id="btnhome">User Registration</button>
    </form> 
  </div>
    <script>
      const slider = document.querySelector('.slider');
      let counter = 0;
  
      function slide() {
        counter++;
        if (counter === slider.children.length) {
          counter = 0;
        }
        slider.style.transform = `translateX(${-counter * 100}%)`;
      }
  
      setInterval(slide, 3000); // Change slide every 3 seconds
    </script>
  </body>
</html>
