<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOGING</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include("includes/navebar.ejs") %>
    <div class="homainloging">
      <h1>PLEASE INSERT THE USERNAME</h1>

      <div class="addform2">
        <form method="get" action="/donor/add" class="loginform">
          <label for="username">username :</label
          ><input name="username" type="text" class="inputloging" />
          <label for="password">password :</label
          ><input name="password" type="password" class="inputloging" />
          <span style="color: red;"> please valid username or password</span>          
          <button class="=btn" type="submit">Loging</button>          
        </form>
        <span> if new user please Regisration</span>
        <form method="get" action="/donor/new">
          <button class="btn">REGISTRATION</button>
        </form>

       
      </div>
    </div>
  </body>
</html>
