<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOGING</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include("includes/homepagenav.ejs") %>

    <div class="homainloging">
      <h3>Please Insert The Username Or Password</h3>
      <h5>loging.ejs</h5>

      <div class="addform2">
        <form method="post" action="/trust/userportal/" class="loginform">
          <label for="userName">userName :</label
          ><input name="userName" type="text" class="inputloging" />
          <label for="passWord">password :</label
          ><input name="passWord" type="password" class="inputloging" />
          <button class="=btn" type="submit">Loging</button>          
        </form>
       

       
      </div>
    </div>
  </body>
</html>
