body {
  width: 100vw;
  height: auto;
  background-color: #4263f7;
  background-color: rgba(206, 184, 179, 0.514);
  font-family: "sans-serif";
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
}
#backbtn {
  width: 75px;
  height: 35px;
  border-radius: 4px;
  padding: 4px 18px;
  text-transform: uppercase;
  font-family: "sans-serif";
  background-color: #ff4c05;
  box-shadow: 2px 3px 5px #6d72b6;
  margin: 11px;
  border: none;
  color: #00012e;
  position: fixed;
  top: 110px;
  right: 10px;
}

/* homepage ======================== */
.Homepage {
  width: 100vw;
  height: 100px;
  background-color: rgb(170, 105, 93);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  position:fixed;
  z-index: 10;
}
#logo {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: end;
}
.img {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: rgba(253, 232, 228, 0.582);
}
#logoimg {
  width: 80%;
}

.trustname {
  width: 61%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  margin-right: 10px;
}
#logoname {
  width: 90%;
}
/* #h2 {
  text-transform: uppercase;
  text-align: center;
  padding: 2px;
  color: #f8faff;
  font-weight: 600;
  
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  
} */
/* #h5 {
  text-align: center;
  color: rgb(39, 64, 255);
  
  padding: 2px;
} */
#nav {
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: right;
  align-items: flex-end;
  background-color: rgba(253, 232, 228, 0.596);
  background-color: rgba(145, 93, 82, 0.795);
}
nav {
  width: 53%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: end;
}
#formhome {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 6px;
  padding: 0px;
  /* background-color: rgba(253, 232, 228, 0.596); */
}
#btnhome {
  width: 100%;
  height: auto;
  border-radius: 4px;
  padding: 4px;
  text-transform: uppercase;
  font-family: "sans-serif";
  background-color: #fbff05;
  box-shadow: 2px 3px 5px #9297e0;
  border: none;
  color: #00012e;
  text-align: center;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  padding: 0px 18px;
  color: #eff2ff;
}
.homain {
  width: 70%;
  height: auto;
  background-color: #021196;
  background-color: rgb(170, 105, 93);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 7px;
  box-shadow: 5px 5px 10px #8692f7;
  margin: auto;
  padding: 20px;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  color: aliceblue;
}
.addform1 {
  width: 100%;
  height: auto;
  background-color: #0011ad;
  background-color: rgb(170, 105, 93);
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  border-radius: 7px;
  box-shadow: 5px 5px 10px black;
  margin: 10px;
}

table {
  width: 70%;
  border: 2px;
  border: 1px solid rgb(56, 56, 56);
  background-color: #ffffff60;
  padding: 2px;
  margin: auto;
}

th {
  /* width: 100%; */
  border: 2px;
  border: 1px solid black;
  background-color: #040677;
  background-color: rgb(170, 105, 93);
  padding: 2px;
  color: wheat;
}
td {
  /* width: 100%; */
  border: 1px solid black;
  background-color: #eff2ff;
  padding: 2px;
  text-align: center;
}
/* @media only screen and (max-width: 800px) {
  table {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  th {
    width: auto;
    display: block;
  }
  td {
    width: auto;
    display: block;
  }
} */
#btn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
button {
  width: auto;
  height: 25px;
  border-radius: 4px;
  padding: 4px 18px;
  text-transform: uppercase;
  font-family: "sans-serif";
  background-color: #fbff05;
  box-shadow: 2px 3px 5px #6d72b6;
  margin: 11px;
  border: none;
  color: #00012e;
}
input {
  width: 60%;
  height: auto;
  margin: 20px;
}
/* add form======================== */
#h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 0px 18px;
  color: #201a1a;
}
.addform {
  width: 40%;
  height: auto;
  background-color: #021196;
  background-color: rgb(170, 105, 93);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  box-shadow: 5px 5px 10px black;
  margin: 10px;
}

.form {
  width: auto;
  height: auto;
  background-color: #0c22e9;
  background-color: rgb(238, 161, 148);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  border-radius: 10px;
  margin: 20px;
  color: #3b3030;
  border: 3px double white;
}
.d0 {
  width: 100%;
  height: 30px;
  background-color: rgb(238, 161, 148);
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 0px 10px;
}

.inputaddtop {
  width: 61%;
  height: auto;
  color: #000000;
  border: none;
  background-color: rgb(238, 161, 148);
}
.d1 {
  width: auto;
  height: auto;
  background-color: #5062ff;
  background-color: rgb(170, 105, 93);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  padding: 3px 4px;
}
.inputadd {
  width: 70%;
  height: auto;
  border: none;
  margin: 20px;
  background-color: #eff2ff;
  color: #000000;
}
#bott {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: end;
  align-content: center;

  margin-bottom: 10px;
}
#btnadd {
  width: auto;
  height: 25px;
  border-radius: 4px;
  padding: 4px 10px;
  text-transform: uppercase;
  font-family: "sans-serif";
  background-color: #fbff05;
  box-shadow: 2px 3px 5px #6d72b6;
  margin: 8px;
  border: none;
  color: #00012e;
}
/* loging.ejs form========================== */
.homainloging {
  width: 30%;
  height: auto;
  background-color: #021196;
  background-color: rgb(170, 105, 93);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 7px;
  box-shadow: 5px 5px 10px #8692f7;
  margin: auto;
  padding: 20px;
}
.addform2 {
  width: 100%;
  height: auto;
  background-color: #0011ad;
  background-color: rgb(238, 161, 148);
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  border-radius: 7px;
  box-shadow: 5px 5px 10px black;
  margin: 10px;
}
.loginform {
  width: auto;
  height: auto;
  background-color: #0c22e9;
  background-color: rgb(170, 105, 93);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  border-radius: 10px;
  margin: 20px;
  color: #eeeeee;
  border: 3px double white;
}
.inputloging {
  width: 60%;
  height: auto;
  border: none;
  margin: 20px;
  background-color: #eff2ff;
  color: #000000;
}
#spam {
  text-transform: uppercase;
  text-align: center;
  padding: 0px 18px;
  color: #ff0000;
  background-color: #eff2ff;
}
/* edit password form============================== */
.editpassword {
  width: 40%;
  height: auto;
  background-color: #021196;
  background-color: rgb(170, 105, 93);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 7px;
  box-shadow: 5px 5px 10px #8692f7;
  margin: auto;
  padding: 20px;
}
.editform {
  width: 100%;
  height: auto;
  background-color: #0011ad;
  background-color: rgb(238, 161, 148);
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  border-radius: 7px;
  box-shadow: 5px 5px 10px black;
  margin: 10px;
}
.updateform {
  width: auto;
  height: auto;
  background-color: #0c22e9;
  background-color: rgb(170, 105, 93);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  border-radius: 10px;
  margin: 20px;
  color: #eeeeee;
  border: 3px double white;
}
.inputloging {
  width: 60%;
  height: auto;
  border: none;
  margin: 20px;
  background-color: #eff2ff;
  color: #000000;
}
#oldpass {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  color: #eeeeee;
  padding: 0px;
}
#p1 {
  text-transform: uppercase;
  text-align: center;
  padding: 0px 18px;
  color: #ff0000;
  background-color: #eff2ff;
}
#spam {
  text-transform: uppercase;
  text-align: center;
  padding: 0px 18px;
  color: #ff0000;
  background-color: #eff2ff;
}

/* =============================================================== */
/* searchform.ejs ================================================= */
.search {
  width: 30%;
  height: auto;
  background-color: #021196;
  background-color: rgb(170, 105, 93);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  border-radius: 7px;
  box-shadow: 5px 5px 10px #8692f7;
  margin: auto;
  padding: 20px;
}
.addform3 {
  width: 100%;
  height: auto;
  background-color: #0011ad;
  background-color: rgb(238, 161, 148);
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  border-radius: 7px;
  box-shadow: 5px 5px 10px black;
  margin: 10px;
}
.searchform {
  width: auto;
  height: auto;
  background-color: #0c22e9;
  background-color: rgb(170, 105, 93);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  border-radius: 10px;
  margin: 20px;
  color: #201a1a;

  border: 3px double white;
}
.inputsearch {
  width: 60%;
  height: auto;
  border: none;
  margin: 20px;
  background-color: #f7f8ff;
  color: #000000;
}

/* =========================================== */

p {
  margin: 5px;
  padding: 5px;
  text-align: center;
  /* padding: 3px; */
}
/* ======resisteration form============= ======================== */
.errerform {
  width: 60%;
  height: auto;
  background-color: rgb(39, 64, 255);
  background-color: rgb(170, 105, 93);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  margin: 10px;
  color: #201a1a;
  padding: 20px;
}
#h2 {
  text-transform: uppercase;
  text-align: center;
  padding: 0px 18px;
  color: #201a1a;
}
.homain1 {
  width: auto;
  height: auto;
  background-color: #021196;
  background-color: rgb(241, 169, 156);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 7px;
  box-shadow: 5px 5px 10px #8692f7;
  margin: auto;
  padding: 20px;
}
#h3 {
  text-transform: uppercase;
  text-align: center;
  padding: 0px 18px;
  color: #3b3030;
}

.newaddform {
  width: auto;
  height: auto;
  background-color: rgb(240, 240, 240);
  background-color: rgb(170, 105, 93);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  box-shadow: 5px 5px 10px black;

  margin: 5px;
}
.signupform {
  width: auto;
  height: auto;
  background-color: #1e32e1;
  background-color: rgb(241, 169, 156);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  margin: 10px;
  color: #201a1a;
}
.subdiv {
  width: 45%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  border-radius: 7px;
  padding: 10px;
  margin: 5px;
}
.inp {
  width: 67%;
  height: 10px;
  margin: 10px;
}
a {
  text-decoration: none;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  padding: 3px 18px;
  color: #eff2ff;
}
h4 {
  text-transform: uppercase;
  margin: 0px 10px;
  color: #ff0202;
  background-color: rgb(255, 255, 255);
}

h5 {
  text-transform: uppercase;
  margin: 0px 10px;
  color: #000000;
  /* background-color:rgb(241, 169, 156); */
}
.homebody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:absolute;
  top:100px;
  z-index: 1;
}
.slider-container {
  background-color: rgba(10, 20, 15, 0.699);
  width: 100%;
  height: 500px;
  padding: 10px;
  /* height: 0px; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider {
  width: 100%;
  height: 400px;
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  width: 100%;
  height: 400px;
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
}
.UserRegistration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 20px;
}
@media (min-width: 1000px) {
  img {
    width: 60%;
  }
}

@media (max-width: 800px) {
  .slider-container {
    height: 600px;
  }
  img {
    width: 65%;
  }
}
@media (max-width: 650px) {
  .slider-container {
    height: 500px;
  }
  img {
    width: 75%;
   }
}
@media (max-width: 550px) {
  .slider-container {
    height: 450px;
  }
  img {
    width: 75%;
   }
}
@media (max-width: 400px) {
  .slider-container {
    height: 300px;
  }
  img {
    width:85%;
   }
}

@media (max-width: 300px) {
  .slider-container {
    height: 150px;
  }
  img {
    width: 90%;
   }
}

@media (max-width: 200px) {
  .slider-container {
    height: 150px;
  }
  img {
    width: 95%;
   }
}